@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');


:root {
  --fontean: 'Amatic SC', cursive;
}
* { padding: 0em; margin: 0em; }
body {
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  background: #1e1e1e url("madrugada-wallpaper.jpg") center center no-repeat fixed;
}




/* menu superior */
header#mensup {
  position: relative;
  background-image: linear-gradient(90deg, #070707 64%, #5e3660 100%);
  margin-bottom: 2em;
  box-shadow: 0em 0em 1em #5e3660;
  height: 3.5em;
}
header#mensup a {
  text-decoration: none;
  position: absolute;
  display: inline-block;
  height: auto; 
  transition-duration: 0.5s;
  background-color: #121212;
  font-size: 1.5em;
  display: inline-block;
  padding: 0.40em 1.92em;
  margin-left: 0.2em;
  color: #d09ad4;

  transform: translate( 0%, -50% );
  left: 0%;
  top: 50%;
}
header#mensup a:hover {
  background-color: #2b112d;
  text-shadow: 0em 0em 0.25em #d09ad4;
  padding: 0.41em 1.87em;
  border: 0.01em solid #d09ad4;
  color: #d09ad4;
}
header#mensup p {
  transition-duration: 0.5s;
  text-align: right;
  font-size: 2.5vw;
  position: absolute;
  padding: 0em 2.5em 0em 0em;
  display: inline-block;
  width: 60%;
  color: #d09ad4;

  transform: translate(-100%, -50% );
  left: 100%;
  top: 50%;
}
header#mensup p:hover { text-shadow: 0em 0em 0.25em; }




h1 {
  font-size: 4.75vw;
  font-family: var(--fontean);
  text-shadow: 0em 0em 0.25em #f5f5f59d;
  color: #f5f5f5;
  margin: 0.5em;
  box-shadow: inset 0em 0em 0.75em #2b112d;
  padding: 0.5em;
  text-indent: 0.75em;
}
ul { columns: 2; padding: 1em; }
li {
  margin: 0.5em;
  padding: 0.5em 0.1em;
  box-shadow: inset 0em 0em 1.5em #000000;
  width: auto;
  font-family: var(--fontean);
  font-size: 4vw;
  list-style-type: "📁 ";
  list-style-position: inside;
}
li > a { transition-duration: 0.125s; text-decoration: none; color: #a876ab; }
li > a:hover {
  color: #f5f5f5;
  text-shadow: 0em 0em 0.25em #f5f5f58d;
}