@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@1,100&display=swap');

@font-face {
  font-family: "Pillbox Opaque";
  src: url("pillbox.ttf");
}
@font-face {
  font-family: "Lotharus";
  src: url("Lotharus.ttf");
}
@font-face {
  font-family: "Angel";
  src: url("Angel.TTF");
}


:root {
  --fontegenos: 'Genos', sans-serif;
  --fontegot1: "Pillbox Opaque", serif;
  --fontegot2: "Lotharus", serif;
  --fontecen: 'Cormorant SC', serif;
  --anfonte: "Angel", sans-serif;
  --fontean: 'Amatic SC', cursive;
}
* { padding: 0em; margin: 0em; }
body {
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  background: #1e1e1e url("madrugada-wallpaper.jpg") center center no-repeat fixed;
}




/* cabeçalho */
header {
  background-image: linear-gradient(90deg, #000000, #121212);
  box-shadow: 0em 0em 1vw #c5c5c575;
  position: relative;
  height: 10vw;
  color: #f5f5f5;
}
div#img {
  position: absolute;
  padding: 1vw;
  display: inline-block;
  height: 8vw;
  width: 7.5vw;
}
div#brilho {
  transition-duration: 0.5s;
  transform: translate( 50% , 50% );
  position: absolute;
  height: 5.9vw;
  rotate: 45deg;
  width: 5.9vw;
  left: 2.5vw;
  top: -2.2vw;
}
div#txt {
  position: absolute;
  padding: 1vw;
  display: inline-block;
  height: 8vw;
  width: 77.9vw;
  left: 9.5vw;
}
div#img > div#brilho img { transition-duration: 0.25s; transform: translate( 00% , -18.5% ); rotate: -45deg; width: 8vw; }
div#txt > h1 {
  letter-spacing: 1vw;
  transition-duration: 0.125s;
  text-indent: 1vw;
  text-shadow: 0em 0em 0.125em #f5f5f570;
  font-family: var(--anfonte);
  font-size: 2vw;
  width: 47.5vw;
  color: #f5f5f5;
}
div#txt > p {
  transition-duration: 0.125s;
  font-family: var(--fontegenos);
  font-size: 1.5vw;
  position: absolute;
  padding: 1vw 1vw 1vw 2.5vw;
  display: inline;
  width: 45vw;
}
div#txt > h1:hover { text-shadow: 0em 0em 0.25em #f5f5f5; }
div#txt > p:hover { text-shadow: 0em 0em 0.5em #f5f5f5; }




/* corpo */
main {
  background-color: #1e1e1ede;
  border-radius: 0vw 0vw 1.25vw 1.25vw;
  box-shadow: inset 0vw 0vw 5vw #000000;
  padding: 2.5vw 2.5vw 1vw 2.5vw;
  margin: 0vw auto 2.5vw auto;
  width: 75vw;
}


main#cptb {
  border-radius: 0vw;
  background: #000000;
  position: relative;
  padding: 1vw;
  height: 24vw;
  margin: 0vw auto 0vw auto;
  width: 78vw;
}


div#entret {
  background-attachment: fixed;
  transition-duration: 1s;
  background-image: url("boa-tarde.jpeg");
  background-size: 80vw;
  border-radius: 0.5vw;
  box-shadow: inset 0vw 0vw 2.5vw #000000;
  transform: translate("100%");
  position: absolute;
  display: inline-block;
  height: 92%;
  width: 70.5%;
}
div#entret > p {
  width: 30%;
  font-family: var(--fontean);
  font-size: 5vw;
  padding: 1vw;
  color: #b171aa;
  left: 1vw;
  top: 1vw;
}
div#entret:hover { background-size: 81vw; }


div#dispo {
  background-attachment: fixed;
  background-position: center center;
  transition-duration: 0.5s;
  background-image: url("modo-retrato-1.jpeg");
  background-size: 21vw;
  border-radius: 0.5vw;
  box-shadow: inset 0vw 0vw 2.5vw #000000;
  transform: translate( -100% , 00% );
  position: absolute;
  display: inline-block;
  height: 44%;
  width: 26%;
  left: 98.5%;
}
div#dispo > p {
  width: 35%;
  font-family: var(--fontean);
  font-size: 2vw;
  padding: 1vw;
  color: #006329;
  left: 1vw;
  top: 1vw;
}
div#dispo:hover { background-image: url("modo-retrato-2.jpeg"); background-size: 20vw; }


div#insta {
  background-attachment: fixed;
  background-position: center center;
  transition-duration: 0.5s;
  background-image: url("madrugada-wallpaper.jpg");
  background-size: 22.5vw;
  border-radius: 0.5vw;
  box-shadow: inset 0vw 0vw 2.5vw #000000;
  transform: translate( -100% , 100% );
  position: absolute;
  display: inline-block;
  height: 46%;
  width: 26%;
  left: 98.5%;
}
div#insta > p {
  text-align: right;
  font-family: var(--fontean);
  font-size: 3vw;
  padding: 1vw;
  color: #9c2700;
  left: 1vw;
  top: 1vw;
}
div#insta:hover { background-size: 32vw; }


main > h2 { letter-spacing: 0.5vw; color: #e100005e; font-size: 2.5vw; margin-left: 0.5vw; font-family: var(--fontegot1); }
main > a.modulo {
  background-color: #000000;
  text-decoration: none;
  border-radius: 0.25vw;
  font-weight: bold;
  font-family: var(--fontean);
  box-shadow: 0em 0em 0.2em #f5f5f5;
  text-indent: 1vw;
  font-size: 2vw;
  padding: 0.5em;
  display: block;
  margin: 0.5em 0em;
  width: 10em;
  color: #f5f5f5;
}
